
      
       
      
      @media screen
      {
        body
        {
          background-color: rgb(255, 255, 255);
          font-family:      arial, verdana, trebuchet, officina, sans-serif;
        }
      }
  
      
      @media print
      {
        
        body
        {
          background-color: rgb(255, 255, 255);
          font-family:      arial, verdana, trebuchet, officina, sans-serif;
        }
        
        
        a
        {
          text-decoration: none;
        }
        
        
        .HeadingTable, .SubHeadingTable, .GroupHeadingTable , .GroupEndTable
        {
          border-width: 2px;
          border-style: solid;
          border-color: rgb(150,150,150);
        }
        
        .ResultBlockHeading
        {
          border-width: 1px;
          border-style: solid;
          border-color: rgb(150,150,150);
        }
        
        table.ResultTable, table.OverviewTable, table.CheckStatisticsTable
        {
          border-collapse: collapse;
        }
        
        td.DefaultCell, td.DefineCell, td.NumberCell, td.NumberCellPositiveResult, td.NumberCellNegativeResult, 
        td.NumberCellErrorResult, td.NumberCellInconclusiveResult, td.NumberCellNoneResult, td.NumberCellNoColor,
        td.PositiveResultCell, td.NegativeResultCell, td.WarningCell, td.NoneResultCell, td.InconclusiveResultCell,
        td.ErrorResultCell, th.TableHeadingCell
        {
          border-width: 1px;
          border-style: solid;
          border-color: rgb(150,150,150);
        }
        
        .PatternSeparator
        {
          
          border-style: none;
        }
        
        .PositiveResult
        {
          
          border-bottom: 2px solid;
        }
        
        .NegativeResult
        {
          
          border-bottom: 2px solid;
        }
        
        .NoneResult
        {
          
          border-bottom: 2px solid;
        }
        
        .InconclusiveResult
        {
          
          border-bottom: 2px solid;
        }
        
        .ErrorResult
        {
          
          border-bottom: 2px solid;
        }

        
        .TestcaseHeadingDefaultResult
        {
          
          border-bottom: 2px solid;
        }
        
        .TestcaseHeadingPositiveResult
        {
          
          border-bottom: 2px solid;
        }
        
        .TestcaseHeadingNegativeResult
        {
          
          border-bottom: 2px solid;
        }
        
        table.ScreenOnly, a.Undecorated, .LinkCell
        {
          display: none;
        }
      }
      
      a.Undecorated:hover 
      {
        color:red;
      }
      a.Undecorated
      { 
        text-decoration: none; 
      }
      
      .NavStyle
      {
        background-color: rgb(220, 221, 222);
      }
      
      td.LinkCell, td.UpCell
      {
        
        width:              1px;
        white-space:        nowrap;
      }

      
      table
      {
        margin-bottom:    10px;
        vertical-align:   top; 
        border:           0;
        border-spacing:   1px;
        padding:          2px;
      }
      table.ScreenOnly
      {
        vertical-align: top; 
        margin-bottom:  10px;
      }
      .NoMarginBottom
      {
        margin-bottom:    0px;
      }
      .HeadingTable
      {
        width:            100%;
        text-align:       center;
        margin-top:       15px;
        margin-bottom:    30px;
        margin-left:      auto;
        margin-right:     auto;
        background-color: rgb(220, 221, 222);
      }
      
      .SubHeadingTable
      {
        width:            100%;
        text-align:       center;
        margin-top:       15px;
        margin-bottom:    25px;
        background-color: rgb(220, 221, 222);
      }
      
      .GroupHeadingTable, .GroupEndTable
      {
        width:            100%;
        text-align:       center;
        margin-top:       15px;
        padding-right:    20px;
        background-color: rgb(220, 221, 222);
      }
      
      .DefaultTable
      {
        padding:        0px;
        border-spacing: 0px;
      }
      
      .CheckStatisticsTable
      {
        margin-bottom: 8px;
        padding-right:  20px;
      }
  
      .OverviewTable
      {
        text-align:     left;
      }
      
      .OverviewResultTable
      {
        width:          100%;
        margin-bottom:  0px;
        border-spacing: 0px;
        padding:        0px;
        text-align:     center;
      }
      
      .ResultTable
      {
        width:          100%;
        text-align:     left;
        padding-right:  20px;
      }
      
      .ResultTableInner
      {
        width:          100%;
        text-align:     left;
        padding-right:  0px;
      }
  
      table.ResultTable td, table.ChildLinkTable td
      {
        vertical-align: top;
      }
      .ChildLinkTable
      {
        width:          1px;
        text-align:     left;
      }
      .InfoTable
      {
        text-align:     left;
        padding-right:  0px;
        margin-bottom:  0px;
        border-spacing: 0px;
      }
      .InfoTableExpand
      {
        width:          100%;
        text-align:     left;
        padding-right:  0px;
        margin-bottom:  0px;
        border-spacing: 0px;
      }
      .OverallResultTable
      {
        width:         50%;
        text-align:    center;
        margin-bottom: 20px;
        margin-left:   auto;
        margin-right:  auto;
        font-weight:   bold;
      }
      
      .TableHeadingCell
      {
        background-color: rgb(179, 179, 179);
        font-family:      arial, verdana, trebuchet, officina, sans-serif;
        font-weight:      bold;
        text-align:       center;
      }
  
      .CellNoColor
      {
        text-align:     left;
        vertical-align: top;
      }   
      
      .DefineCell
      {
        background-color: rgb(179, 179, 179);
        text-align:       left;
      }
      
      .DefaultCell, .DefaultCellBold
      {
        background-color: rgb(229, 229, 229);
        text-align:       left;
      }
      
      .DefaultCellBold
      {
        font-weight:      bold;
      }
        
      .NumberCell
      {
        background-color: rgb(229, 229, 229);
        text-align:       center;
        min-width:        50px;
      }
      
      .NumberCellNegativeResult
      {
        background-color: rgb(240, 0, 0);
        text-align:       center;
        min-width:        50px;
      }
      
      .NumberCellPositiveResult
      {
        background-color: rgb(25, 165, 88);
        text-align:       center;
        min-width:        50px;
      }
      
      .NumberCellNoneResult
      {
        background-color: rgb(105, 105, 105);
        text-align:       center;
        min-width:        50px;
      }
      
      .NumberCellInconclusiveResult
      {
        background-color: rgb(255, 165, 0);
        text-align:       center;
        min-width:        50px;
      }
      
      .NumberCellErrorResult
      {
        background-color: rgb(205, 0, 0);
        text-align:       center;
        min-width:        50px;
      }
      
      .NumberCellNoColor
      {        
        text-align: center;
      }
      
      .PositiveResultCell
      {
        background-color: rgb(25, 165, 88);
      }
    
      .NegativeResultCell
      {
        background-color: rgb(240, 0, 0);
      }
      
      .NoneResultCell
      {
        background-color: rgb(105, 105, 105);
      }
      
      .InconclusiveResultCell
      {
        background-color: rgb(255, 165, 0);
      }
      
      .ErrorResultCell
      {
        background-color: rgb(205, 0, 0);
        white-space:        nowrap;
      }

      .WarningCell
      {
        background-color: rgb(255, 255, 0);
      }

      .TestcaseHeadingDefaultResult
      {
        background-color: rgb(179, 179, 179);
      }
      .TestcaseHeadingPositiveResult
      {
        background-color: rgb(25, 165, 88);
      }      
      .TestcaseHeadingNegativeResult
      {
        background-color: rgb(240, 0, 0);
      }      
      .TestcaseHeadingNoneResult
      {
        background-color: rgb(105, 105, 105);
      }
      .TestcaseHeadingInconclusiveResult
      {
        background-color: rgb(255, 165, 0);
      }
      .TestcaseHeadingErrorResult
      {
        background-color: rgb(205, 0, 0);
      }
      
      .PatternSeparator
      {
        height: 0.2em;
      }
      
      .NegativeResult
      {
        background-color: rgb(240, 0, 0);
        text-align:       center;
        font-weight:      bold;
      }
      .PositiveResult
      {
        background-color: rgb(25, 165, 88);
        text-align:       center;
        font-weight:      bold;
      }
      .NoneResult
      {
        background-color: rgb(105, 105, 105);
        text-align:       center;
        font-weight:      bold;
      }
      .InconclusiveResult
      {
        background-color: rgb(255, 165, 0);
        text-align:       center;
        font-weight:      bold;
      }
      .ErrorResult
      {
        background-color: rgb(205, 0, 0);
        text-align:       center;
        font-weight:      bold;
      }
      
      
      
      .Heading1
      {
        font-family: arial, sans-serif;
        font-weight: bold;
        font-size:   26px;
      }
      
      .Heading2
      {
        font-family: arial, sans-serif;
        font-weight: bold;
        font-size:   20px;
      }
      
      .Heading3
      {
        font-family:   arial, sans-serif;
        font-weight:   bold;
        font-size:     18px;
        margin-bottom: 20px;
        margin-top:    20px;
      }
      
      .Heading4
      {
        font-family:   arial, sans-serif;
        font-weight:   bold;
        font-size:     16px;
        margin-top:    10px;
        margin-bottom: 10px;
      }
      
      
      img
      {
        Margin-bottom: 10px;
        Margin-right:  10px;
      }
      
      
      p
      {
        Margin-bottom: 20px;
      }
      
      
      .DefaultTableBackground
      {
        background-color: rgb(229, 229, 229);
        border-spacing:   0px;
        padding:          0px;
      }
      
      .NegativeResultBackground
      {
        background-color: rgb(240, 0, 0);
        border-spacing:   0px;
        padding:          0px;
      }
      
      .PositiveResultBackground
      {
        background-color: rgb(25, 165, 88);
        border-spacing:   0px;
        padding:          0px;
      }
      
      .WarningResultBackground
      {
        background-color: rgb(255, 255, 0);
        border-spacing:   0px;
        padding:          0px;
      }
      
      .NoneResultBackground
      {
        background-color: rgb(105, 105, 105);
        border-spacing:   0px;
        padding:          0px;
      }
      
      .InconclusiveResultBackground
      {
        background-color: rgb(255, 165, 0);
        border-spacing:   0px;
        padding:          0px;
      }
      
      .ErrorResultBackground
      {
        background-color: rgb(205, 0, 0);
        border-spacing:   0px;
        padding:          0px;
      }
      
      .TestGroupHeadingBackground
      {
        background-color: rgb(179, 179, 179);
      }
    
      
      .Indentation
      {
        margin-left:  20px;
      }
    